-e git+https://github.com/google/aiyprojects-raspbian@bbad60d7476dfd3c49c3105c334c4d46d88f72d5#egg=aiy_projects_python&subdirectory=src
automationhat==0.0.4
beautifulsoup4==4.6.3
blinker==1.3
blinkt==0.1.1
bs4==0.0.1
buttonshim==0.0.2
cachetools==2.0.1
Cap1xxx==0.1.3
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.7
cryptography==1.7.1
dill==0.2.7.1
drumhat==0.1.0
envirophat==0.0.6
ExplorerHAT==0.4.2
Flask==0.12.1
fourletterphat==0.1.0
future==0.16.0
futures==3.1.1
google-api-core==0.1.4
google-assistant-grpc==0.1.0
google-assistant-library==0.1.0
google-assistant-sdk==0.4.2
google-auth==1.4.1
google-auth-oauthlib==0.2.0
google-cloud-core==0.28.1
google-cloud-speech==0.30.0
google-gax==0.15.16
googleapis-common-protos==1.5.3
gpiozero==1.4.1
grpcio==1.9.1
gTTS==2.0.1
gTTS-token==1.1.1
idna==2.6
inotify==0.2.9
itsdangerous==0.24
jedi==0.10.2
Jinja2==2.8
keyring==10.1
keyrings.alt==1.3
MarkupSafe==0.23
mcpi==0.1.1
microdotphat==0.1.3
monotonic==1.4
mote==0.0.3
motephat==0.0.2
nose==1.3.7
numpy==1.15.0
oauthlib==2.0.7
pandas==0.23.4
pantilthat==0.0.5
pgzero==1.2
phatbeat==0.1.0
pianohat==0.1.0
picamera==1.13
picraft==1.0
piglow==1.2.4
pigpio==1.38
Pillow==8.1.1
pip3==0.2
ply==3.8
protobuf==3.5.0.post1
pyasn1==0.4.2
pyasn1-modules==0.2.1
PyBluez==0.22
pycparser==2.18
pycrypto==2.6.1
pygame==1.9.3
pygobject==3.22.0
pyinotify==0.9.6
PyJWT==1.4.2
pyOpenSSL==16.2.0
pyserial==3.2.1
PySocks==1.5.0
python-apt==1.1.0b5
python-dateutil==2.7.3
pytz==2018.3
pyxdg==0.25
rainbowhat==0.0.2
requests==2.18.4
requests-oauthlib==0.8.0
RPi.GPIO==0.6.3
rsa==3.4.2
RTIMULib==7.2.1
scrollphat==0.0.7
scrollphathd==1.2.0
SecretStorage==2.3.1
sense-emu==1.0
sense-hat==2.2.0
simplejson==3.10.0
six==1.11.0
skywriter==0.0.7
sn3218==1.2.7
sounddevice==0.3.10
spidev==3.3
tenacity==4.9.0
thonny==2.1.16
touchphat==0.0.1
twython==3.4.0
ujson==1.35
unicornhathd==0.0.3
urllib3==1.22
virtualenv==15.1.0
websockets==6.0
Werkzeug==0.11.15
